/* Fonts */

h1, h2,h3, p, a, label, span, input {
  font-family: 'Roboto', sans-serif;
  color: #F4F4F4;
  font-weight: 100;
}

/* Resets */

*, h1, h2, p, div, span, input, section, footer, button, label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {

}

/* Styles */

body {
  background: black;
  padding: 8vh 20vw;
}

h2 {
  font-size: 1.5em;
  position: relative;
}

h2::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 65%;
  background-color: #8EC5FC;
}

h2 > span {
  font-weight: bold;
  font-size: 2em;
}
/* --------- Wrapper --------- */

body {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* --------- Header --------- */

header {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  border-radius: 10px;
  padding: 20px 60px;
  margin-bottom: 25px;
}

h1 {
  display: inline-block;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 1.5px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F4F4F4;
  color: transparent;
  text-align: right;
}

h1 > span {
  font-weight: 700;
}

/* --------- Sections --------- */

.row {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.line {
  background-color: white;
  height: 1px;
}

.row .container {
  width: 50%;
  margin: 25px 0;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-left__item {
  display: flex;
}

.container-left__item label {
  display: flex;
  align-items: center;
}

.container-left__item label,  .container-left__item h3  {
  width: 150px;
  font-weight: 600;
}

.container-left__item input, .container-left__item p {
  width: 160px;
}

.container-left__item input {
    background: black;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;

}

.container-left__item p {
  text-align: center;
  font-size: 1.5em;
}

.container-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  text-align: right;
}

.converters-title::after {
  background-color: #E0C3FC;
}


/* --------- Footer --------- */

footer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}